/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
}

/* =========================
   HEADER STYLING
   ========================= */
header {
  background-color: rgb(75, 64, 51);
  padding: 20px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;

}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(245, 235, 223);
  text-align: center;
  color: black; 
  padding:50px ;
  margin-bottom: 4rem;
  height: 90vh;
  text-shadow: 1px 1px 5px black;
}
.card{
  background-color: rgb(241, 241, 200);
  color: black;
  padding: 20px;
  border-radius: 0.4rem;
  border: 1px solid;
   min-width: 250px;
  max-width: 300px;
  text-align: center;
}
.cards-section{
  background-color: #fff7f0;
  padding: 40px 20px;
  display: flex; flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.reviw-section{
  background-color: rgb(142, 213, 124);
  padding: 20px;
}
footer {
  display: flex;
  flex-wrap: wrap; /* Stack items on mobile */
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #222;
  color: white;
}
.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}
.opinion{
  background-color: rgb(185, 192, 162);
  text-align: left;
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.nav {
    flex-direction: column;
    gap: 10px;
  }
