/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
    background-color: white;
    font-family:   sans-serif;
    line-height: 1.6;
}
.container {
  display: flex;
  min-height: 100vh;
}
.sidebar{
  flex: 0 0 200px;
  background-color: #222;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card{
    background-color: rgb(209, 209, 209) ;
    padding: 10px;
    text-align: center;
    border-radius: 0.5rem;
    color: black;
}
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.Dashboard-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    gap: 100px;
    padding: 20px;
    
}
.ann-card{
    background-color: rgb(209, 209, 209);
    padding: 20px;
    text-align: left;
}
footer{
    color: black;
}
.hre{
    color: white;
}
/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  header {
    flex-direction: row;
    justify-content: space-around;
  }

  .main-content {
    padding: 10px;
  }

   .topbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .cards {
    flex-direction: column;
  }

  .card {
    flex: 1 1 auto;
  }
}